@import url('https://fonts.googleapis.com/css?family=Lato&display=swap');

* {
    box-sizing: border-box;
}


body {
background: white;


}


.avatar-container {
    display: flex;
    margin-bottom: 20px;
}

.avatar-container img {
    object-fit: cover;
    margin: auto;
    border-radius: 50%;
    width: 200px;
    height: 200px;
}