@import url('https://fonts.googleapis.com/css?family=Lato&display=swap');

* {
    box-sizing: border-box;
}


body {
    background: white;
    font-family: Arial, Helvetica, sans-serif;
}

.head {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    gap:10px;
    padding-bottom: 10px;
    margin-bottom: 40px;
    box-shadow: 0 4px 2px -2px rgba(100, 100, 111, 0.2);
}

.lol {
    /* width: fit-content; */
    /* background-color: #cfef00; */
    border: #eee solid 1px;
    border-radius: 30px;
    padding: 10px;
    padding-right: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    cursor: pointer;
}

.lol .icon {
    width: 30px;
    height: 30px;
    border-radius: 50%;
    color: white;
    background-color: #000;
    display: flex;
    justify-content: center;
    align-items: center;
}

.nav {
    font-weight: bold;
    font-size: large;
    display: flex;
    justify-content: center;
    align-items: center;
}

.nav div {
    width: 100px;
    padding: 10px;
    text-align: center;
    cursor: pointer;
}

.nav div:hover {
    color: #f24175;
}

.home {
    /* border-bottom: 2px solid black; */
    color: #f24175;
}

.avatar-container {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    margin-top: 20px;
    margin-bottom: 20px;
    width: 80%;
    margin-left: auto;
    margin-right: auto;
}

.img-plate {
    width: 340px;
    height: 400px;
    background-color: rgba(90, 93, 94, 0.078);
    border-radius: 20px;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}

.white-cont {
    position: relative;
    padding: 20px;
    width: 300px;
    height: 300px;
    background-color: white;
    margin: 20px 20px 0 20px;
    border-radius: 20px;
}

.white-cont .sign {
    position: absolute;
    bottom: 5px;
    right: 15px;
    font-family: 'Handwritten Signature', sans-serif;

}

.img-cont {
    width: 100%;
    height: 100%;
}

.img-cont img {
    object-fit: cover;
    border-radius: 30% 70% 70% 30% / 30% 30% 70% 70%;
    width: 100%;
    height: 100%;
}

.bday-container {
    display: flex;
    flex-wrap: wrap;
    align-content: center;
    gap: 20px;
    margin-top: 20px;
    margin-bottom: 100px;
    margin-left: auto;
    margin-right: auto;
    min-height: 200px;
    height: fit-content;
    width: 80%;
    min-width: 340px;
    border-radius: 20px;
    /* box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px; */
}

.blank-row {
    height: 40px;
    width: 100px;
}

.foot {
    display: none;
    height: 80px;
    bottom: 0;
    position: fixed;
    left: 0;
    right: 0;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
    z-index: 1;
}

.bar {
    height: 100%;
    width: 100%;
}

.modal-2 {
    position: fixed;
    z-index: -11;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
}

.modal-content-2 {
    /* padding: 20px; */
    width: 100%;
}

/* Style for the modal */
.modal {
    display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0, 0, 0, 0.4);
}

/* Style for the modal content */
.modal-content {
    background-color: #fefefe;
    margin: 10% auto;
    /* padding: 20px; */
    border: 1px solid #888;
    width: 80%;
}

/* Style for the close button */
.close {
    color: #aaaaaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.close:hover,
.close:focus {
    color: #000;
    text-decoration: none;
    cursor: pointer;
}

.ticket-img {
    display: flex;
    justify-content: center;
}

.ticket-img img {
    max-width: 100%;
    height: 100%;

}


/* test phase */

.box {
    width: 200px;
    height: 300px;
    position: relative;
    border: 1px solid #BBB;
    background: #eee;
    float: left;
    margin: 20px
}

.ribbon {
    position: absolute;
    right: -5px;
    top: -5px;
    z-index: 1;
    overflow: hidden;
    width: 75px;
    height: 75px;
    text-align: right;
}

.ribbon span {
    font-size: 10px;
    color: #fff;
    text-transform: uppercase;
    text-align: center;
    font-weight: bold;
    line-height: 20px;
    transform: rotate(45deg);
    width: 100px;
    display: block;
    background: #cfef00;
    background: linear-gradient(#9BC90D 0%, #cfef00 100%);
    box-shadow: 0 3px 10px -5px rgba(0, 0, 0, 1);
    position: absolute;
    top: 19px;
    right: -21px;
}

.ribbon span::before {
    content: '';
    position: absolute;
    left: 0px;
    top: 100%;
    z-index: -1;
    border-left: 3px solid #79A70A;
    border-right: 3px solid transparent;
    border-bottom: 3px solid transparent;
    border-top: 3px solid #79A70A;
}

.ribbon span::after {
    content: '';
    position: absolute;
    right: 0%;
    top: 100%;
    z-index: -1;
    border-right: 3px solid #79A70A;
    border-left: 3px solid transparent;
    border-bottom: 3px solid transparent;
    border-top: 3px solid #79A70A;
}

.close-popup-bar {
    /* position: relative; */
    background-color: rgb(230, 34, 77);
    /* border-radius: 5px; */
    /* box-shadow: rgb(121, 18, 55) 0px 4px 0px 0px; */
    /* padding: 15px; */
    /* background-repeat: no-repeat;
    box-sizing: border-box; */
    width: 30px;
    height: 30px;
    color: #fff;
    border-radius: 50%;
    cursor: pointer;
    /* font-size: 20px; */
    /* transition: all .3s ease-in-out; */
    /* z-index: 1; */
    /* overflow: hidden; */
}

.powered-by-container {
    font-size: small;
    color: #d2d2d2;
    font-family: Helvetica, arial, sans-serif;
    float: right;
    position: static;
    bottom: 2vh;
    padding-right: 2vw;
}

.powered-by-container a {
    text-decoration: none;
}