.countdown {
    width: 340px;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

.ticket-button{
    background-color: #f24175;
    color: white;
    width: 100%;
    height: 60px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 5px;
    font-size: x-large;
    font-weight: bold;
    cursor: pointer;
    position: relative;
    
}

.card {
    width: 90%;
    min-width: 320px;
    cursor: pointer;
}

.content {
    text-align: center;
    position: relative;
    transition: all 2.25s;
    background-color: white;
    padding: 5em;
    transform-style: preserve-3d;
}

.card:hover .content {
    transform: rotateY(0.5turn);
}

.front,
.back {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    padding: 2em;
    transform-style: preserve-3d;
    backface-visibility: hidden;
}

.title {
    transform: translateZ(5rem);
    font-size: 2rem;
}

.subtitle {
    transform: translateZ(2rem);
    width: 100%;
}

.back {
    transform: rotateY(0.5turn);
    background-color: white;
}

.description {
    transform: translateZ(3rem);
    width: 100%;
}

#timer {
    font-size: 46px;
    font-weight: 400;
    height: 100%;
    max-width: 100%;
    color: black;
    display: flex;
    justify-content: space-between;
}

#timer div {
    display: inline-block;
    text-align: center;
    width: 70px;
    padding: 5px;
    /* background: #cfef00; */
    border-radius: 10px;
    border: gainsboro solid 1px;
    /* border: 2px; */
    margin: 5px;
}

#timer div span {
    color: black;
    display: block;
    margin-top: 15px;
    font-size: .35em;
    font-weight: 400;
}