.countdown {
    width: 340px;
    height: 150px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

.ticket-button{
    background-color: #f24175;
    color: white;
    width: 100%;
    height: 60px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 5px;
    font-size: x-large;
    font-weight: bold;
    cursor: pointer;
    position: relative;
    
}

.card {
    width: 90%;
    min-width: 320px;
    cursor: pointer;
}

.content {
    text-align: center;
    position: relative;
    transition: all 2.25s;
    background-color: white;
    padding: 5em;
    transform-style: preserve-3d;
}

.card:hover .content {
    transform: rotateY(0.5turn);
}

.front,
.back {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    padding: 2em;
    transform-style: preserve-3d;
    backface-visibility: hidden;
}

.title {
    transform: translateZ(5rem);
    font-size: 2rem;
}

.subtitle {
    transform: translateZ(2rem);
}

.back {
    transform: rotateY(0.5turn);
    background-color: white;
}

.description {
    transform: translateZ(3rem);
}