div.codedoodle-block {
    margin: 3rem auto;
    width: auto;
    max-width: 900px;
    height: 900px;
    position: absolute;
    background-color: transparent;
    border-radius: 50%;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    perspective: 700px;
    background-repeat: no-repeat;
    background-clip: border-box;
}

@keyframes rotate {
    from {
        transform: translateY(-300%) translateX(-5%) rotate3d(-.5, .1, -.55, 0deg);
    }

    to {
        transform: translateY(150%) translateX(5%) rotate3d(.25, 0, .45, 100deg);
    }
}

@keyframes rotatetwo {
    from {
        transform: translateY(-170%) translateX(-20%) rotate3d(1.25, 0, -.25, 0deg);
    }

    to {
        transform: translateY(150%) translateX(20%) rotate3d(.25, 0, .75, 100deg);
    }
}

@keyframes rotatethree {
    from {
        transform: translateY(-240%) translateX(0%) rotate3d(-.25, 0, 1.25, 270deg);
    }

    to {
        transform: translateY(150%) translateX(-150%) rotate3d(.25, 0, -.25, 100deg);
    }
}

@keyframes rotatefour {
    from {
        transform: translateY(-250%) translateX(0%) rotate3d(.25, 0, .75, 240deg);
    }

    to {
        transform: translateY(150%) translateX(-30%) rotate3d(.25, 0, .95, 100deg);
    }
}

@keyframes rotatefive {
    from {
        transform: translateY(-200%) translateX(0%) rotate3d(.25, 0, 1.25, -70deg);
    }

    to {
        transform: translateY(150%) translateX(30%) rotate3d(.25, 0, .32, 100deg);
    }
}

@keyframes rotatesix {
    from {
        transform: translateY(-200%) translateX(0%) rotate3d(.25, 0, 1.25, -170deg);
    }

    to {
        transform: translateY(50%) translateX(30%) rotate3d(.25, 0, .32, 10deg);
    }
}

@keyframes longfade {
    from {
        opacity: 1;
    }

    to {
        opacity: 0;
    }
}

.flower {
    height: 100%;
    width: 100%;
    background-color: rgba(253, 56, 89, 0.0125);
    position: relative;

}

.petal {
    display: block;
    position: absolute;
    max-width: 85px;
    max-height: 98px;
    top: 44px;
    left: 107.5px;
    -webkit-transform-origin: center 110%;
    transform-origin: center 110%;
    fill: rgba(255, 192, 202, 0.9);
    animation: rotate 8s ease-out 0s 1 normal forwards, longfade 13s ease-out 0s 1 normal forwards;
    transition: all 1s ease-out;
}

.petal:hover,
.petal:focus,
.petal:active {
    fill: rgba(255, 92, 119, 0.9);
    stroke: rgba(255, 92, 110, 1);
}

.petal:nth-of-type(1) {
    animation-name: rotate, longfade;
}

.petal:nth-of-type(2) {
    animation-name: rotatetwo, longfade;
}

.petal:nth-of-type(3) {
    animation-name: rotatethree, longfade;
}

.petal:nth-of-type(4) {
    animation-name: rotatefour, longfade;
}

.petal:nth-of-type(5) {
    animation-name: rotatefive, longfade;
}

.petal:nth-of-type(6) {
    animation-name: rotatesix, longfade;
}

.codedoodle-block p {
    margin: 1rem auto;
    max-width: 40em;
    font-size: 16px;
    line-height: 1.4;
    color: #999;
}